html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 0px;

}

/**/
.navigation-bar{
  padding: 0px;
  width: 100%;
  height: 50px;
  background-color: rgba(51, 51, 51, 0.8);
  display: flex;
  flex-direction: column;
}

.navigation-bar-list{
  height: 50px;
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style-type: none;
  padding: 0px;
}
.menu-list{
  width: 90%;
  height: 80px;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.menu-list a span{
  color: white;
  font-size: 15px;
  font-family: Helvetica Neue;
  font-weight: normal;
}


#navigationBarLiHamburger{

}
#navigationBarLiHome{
  flex-grow: 2;
  display: flex;
}
#navigationBarLiHome img{
  margin: auto;
}

/*Desktop mediaQuery*/
@@media screen and (min-width:768px) {

}
